$font-headings: 'Montserrat', sans-serif;
$main-color: rgb(68, 68, 68);
$main-font: 'Hind', sans-serif;
$light-color: #fff;
$light-blue: rgb(111, 175, 231);
$main-button-color: rgb(12, 101, 179);
$orange: rgb(255, 153, 0);
$dark-grey: rgb(43, 43, 43);
$green: rgb(33, 219, 160);
$red: rgb(231, 79, 114);
$blue: rgb(77, 104, 228);