.hasbg {
    background-color: #343a40!important;
    width: 100%;
}
.hasbg .container {
    padding: 0;
}

.hasbg .container nav {
    margin: 0;
    padding-right: 5px;
}


.img-container {
    height: 360px;
    overflow: hidden;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.bradius {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}
a.show-item {
    margin-bottom: 30px;
    display: block;
}
h1 {
    margin: 30px auto;
}
.show-name {
    border: 1px solid rgba(84, 89, 95, 0.5);
    display: block;
    padding: 20px 10px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: bold;
    font-size: 1.2em;
}

@media screen and (min-width:360px) {
    .img-container {
        height: 480px;
    }
}
@media screen and (min-width:576px) {
    .img-container {
        height: 760px;
    }
}

@media screen and (min-width:768px) {
    .img-container {
        height: 440px;
    }
}
@media screen and (min-width:1200px) {
    .img-container {
        height: 515px;
    }
}